/* Ajustes generales */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    color: #fff;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 8px 15px; /* Ajusta el espaciado interno */
}

/* Sección de Inicio */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    color: #fff;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Sección de Inicio */
.inicio {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    width: 50%;
    margin-bottom: 5px;
    border-radius: 50%;
}

p {
    font-size: 1em;
    color: #fff;
}


/* Sección de Productos */
.Productos,
.SobreNosotros,
footer {
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin: 20px;
    padding: 20px;
}

/* Sección de Productos */
.Productos div,
.SobreNosotros h3,
.SobreNosotros p,
.Contacto div {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
}

.Productos h2,
.SobreNosotros h3 {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

/* Sección Sobre Nosotros */
.SobreNosotros {
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 20px;
    text-align: justify;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SobreNosotros h3 {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.SobreNosotros p {
    font-size: 1em;
    color: #fff;
    line-height: 1.6;
}

.SobreNosotros h3,
.SobreNosotros p {
    margin-bottom: 10px;
}

/* Pie de Página */
footer {
    padding: 20px 0;
}

.Contacto {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.Contacto div {
    text-align: center;
}

.Contacto img {
    width: 30px;
    margin-bottom: 10px;
}

/* Botón de WhatsApp */
a img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    /* Estilos adicionales para pantallas más grandes */
    nav {
        justify-content: flex-end;
        margin-top: 0;
    }

    nav a {
        margin: 0 30px;
    }

    a img {
        width: 60px;
        height: 60px;
    }
}

    a img {
        width: 60px;
        height: 60px;
    }
}
