@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;500;700 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;    ;
    background-color: #f7f7f7;
    color: #333;
}

/* Encabezado */
header {
    background-color: #252525;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

nav h1 {
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #67B3FF;
}

/* Inicio */
.inicio {
    text-align: center;
    padding: 30px 20px;
}

.inicio p {
    font-size: 0.8em;
}

/* Logo */
.logo img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Cuerpo de Página */
.Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
}

.Productos div {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    width: 100%;
}

.Productos h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.Productos img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.Productos div:hover {
    transform: scale(1.05);
}

.Productos p {
    font-size: 1.1em;
    color: #666;
}


/* Sobre Nosotros */
.SobreNosotros {
    background-color: #f9f9f9;
    margin: 40px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.SobreNosotros h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.SobreNosotros p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
    line-height: 1.6;
}

.SobreNosotros > p {
    margin-bottom: 20px;
}

/* Pie de Página */
footer {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    margin-top: 50px;
}

.Contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contacto div {
    text-align: center;
    color: #fff;
}

.Contacto img {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .SobreNosotros {
        padding: 30px 15px;
    }
}
